
/* Desktop style*/
*{
	padding: 0px;
	margin: 0px;
	font-family: "helvetica";
}

body{
	background-color: black;
	background-repeat: no-repeat;
	background-image: url("img/index.jpg");
	background-size: 100% auto;
	text-align: center;
	background-attachment: fixed; 
}

input{
	width: 80%;
	font-size: 1.3vw;
	border: none;
	margin-top: 1vw;
	background-color: rgba(255, 255, 255, 0.0);
	border-bottom: 0.2vw solid white;
	color: white;
	transition: border-bottom 1s;
}

#formMask{
	font-size: 1.3vw;
	background-color: rgba(0, 0, 0, 0.7);
	width: 40%;
	margin: auto;
	text-align: center;
	color: white;
}

.button{
	color: black;
	width: 50%;
	margin-top: 2vw;
	font-size: 1.2vw;
	padding: 0.4vw;
	border: none;
	margin-top: 2vw;
	background-color: rgba(255, 255, 255, 0.4);
	-webkit-transition: width 0.5s;
  	transition: width 0.5s;
	cursor: pointer;
}

.button:hover{
	width: 80%;
	background-color: rgba(255, 255, 255, 0.8);
}

table{
	width: 100%;
}

td{
	width: 40%;
}

#buttonsAlign{
	text-align: center;
}

.info-logo{
	width: 1vw;
	height: 1vw;
}

.gender{
	width: 20%;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 2000%;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 0.2vw;
    padding: 1vw 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}