*{
	padding: 0px;
	margin: 0px;
	font-family: "helvetica";
}

body{
	background-color: white;
  	text-align: center;
}

#formMask{
	font-size: 0.9vw;
	width: 100%;
	text-align: center;
	color: white;
}

#button{
	color: black;
	width: 30%;
	margin: 2px;
	font-size: 1.4vw;
	padding: 1%;
	border: 0.1vw solid black;
	margin-top: 2vw;
	font-weight: bold;
	margin-bottom: 3vw;
	cursor: pointer;
}

#button:hover{
	background-color: rgb(255, 255, 255);
}

table{
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 0.2vw;
	border: 0.1vw solid black;
}

th{
	background-color: black;
	color: white;
	height: 2.3vw;
}

td{
	height: 2vw;
	color: black;
	word-wrap: break-word;
	padding: none;
}

td:nth-child(odd){
	background-color: rgba(100, 100, 100, 0.2);
}

tr{
	background-color: rgba(255, 255, 255, 0.8);
}

tr:hover{
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
}

a{
	text-decoration: none;
}

h1{
	margin: 3vw 0vw;
}
