*{
	padding: 0px;
	margin: 0px;
	font-family: "helvetica";
}

body{
	background-repeat: no-repeat;
	background-image: url("img/index.jpg");
	background-size: 100% auto;
	background-color: white;
  	text-align: center;
  	background-attachment: fixed;
  	background-color: black;
}

#formMask{
	font-size: 1vw;
	width: 90%;
	margin: auto;
	text-align: center;
	color: white;
}

#button{
	color: black;
	width: 30%;
	margin: 2px;
	font-size: 1.4vw;
	padding: 1%;
	border: 0.1vw solid black;
	margin-top: 2vw;
	font-weight: bold;
	margin-bottom: 3vw;
	cursor: pointer;
}

#button:hover{
	background-color: rgb(255, 255, 255);
}

table{
	opacity: 0.9;
	width: 100%;
	margin-top: 3vw;
	border-collapse: collapse;
	margin-bottom: 0.2vw;
	border: 0.1vw solid black;
}

th{
	background-color: black;
	color: white;
	height: 2.3vw;
}

td{
	height: 2vw;
	border-right: 0.1vw black solid;
	color: black;
	word-wrap: break-word;
	padding: none;
}

tr{
	background-color: rgba(255, 255, 255, 0.8);
}

tr:hover{
	background-color: rgba(190, 190, 255, 0.9);
}

a{
	text-decoration: none;
}